* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    --text-gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);

    --font-size: 20px;
    --font-family: 'Inconsolata', sans-serif;
    --font-weight-light: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;
}
